{% extends 'base.html.twig' %}

{% block title %}DetailsServices{% endblock %}

{% block body %}
    <h1>DetailsServices</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ details_service.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ details_service.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_details_services_index') }}">back to list</a>

    <a href="{{ path('app_details_services_edit', {'id': details_service.id}) }}">edit</a>

    {{ include('details_services/_delete_form.html.twig') }}
{% endblock %}
