{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {{ include('components/_flash_messages.html.twig')}}
    {{ include('components/_title.html.twig', { content: 'Mon compte' }) }}

    <h2 class="text-2xl font-bold dark:text-white mb-5" >Mes identifiants :</h2>

    {{ include('account/_form_user_account.html.twig', {
        form: formUser
    }) }}

    {{ include('components/_link.html.twig', {
        path: 'app_account_change_password',
        content: 'Changer mon mot de passe'
    }) }}
    
    {% if is_granted('ROLE_ADMIN_ENTREPRISE') %}
        <h2 class="text-2xl font-bold dark:text-white my-5" >Mon entreprise : </h2>

        {{ include('entreprises/_form.html.twig', {
            form: formEntreprise
        }) }}

        {% if not is_granted('ROLE_ADMIN') %}

            {{ include('components/_delete_form.html.twig', {
                item_id: user.id,
                path: 'account',
                labelButton: 'Supprimer mon compte',
                title: 'Suppression de mon compte', 
                content: 'Attention cette action est irréversible et supprimera toute vos données de l\'application (entreprise, produit, devis, facture ...). Voulez vous vraiment supprimer votre compte ?',
                classButton: 'block font-medium text-blue-600 dark:text-blue-500 hover:underline'
            }) }}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {{ include('components/_link.html.twig', {
                path: 'app_admin_user_add',
                content: 'Ajouter un utilisateur'
            }) }}
            {{ include('components/_link.html.twig', {
                path: 'app_admin_users_index',
                content: 'Liste des utilisateurs'
            }) }}
        {% else %}
            {{ include('components/_link.html.twig', {
                path: 'app_user_add',
                content: 'Ajouter un utilisateur'
            }) }}
            {{ include('components/_link.html.twig', {
                path: 'app_users_index',
                content: 'Liste des utilisateurs'
            }) }}
            
        {% endif %}
    {% endif %}
{% endblock %}
