{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <section class="h-screen">
            <div class="container h-full px-6 py-24">
                <div
                        class="flex h-full flex-wrap items-center justify-center lg:justify-between">
                    <!-- Left column -->
                    <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
                        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-title text-gray-900">
                            <br class="hidden lg:inline-block">Connectez-vous dès maintenant pour accéder à :
                        </h1>
                        <p class="mb-8 leading-relaxed font-subtitle">Des devis personnalisés, une gestion de
                            facturation adaptée aux
                            PME, et une liberté totale pour votre entreprise.</p>
                    </div>

                    <!-- Right column container with form -->
                    <div class="md:w-8/12 lg:ms-6 lg:w-5/12 ">
                        <!-- Email input -->
                        <div class="relative mb-6" data-twe-input-wrapper-init>
                            <label for="inputEmail" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3"
                                   autocomplete="email" required autofocus>
                        </div>

                        <!-- Password input -->
                        <div class="relative mb-6" data-twe-input-wrapper-init>
                            <label for="inputPassword"
                                   class="block text-gray-700 text-sm font-bold mb-2">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3"
                                   autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="mb-6 flex items-center justify-between">
                            <!-- Forgot password link -->
                            <a href="#!" class="text-primary focus:outline-none dark:text-primary-400">Mot de passe oublié ?</a>
                        </div>

                        <!-- Submit button -->
                        <button class="bg-primary-500 text-white font-bold py-2 px-4 w-full rounded hover:bg-primary-600"
                                type="submit">
                            Se connecter
                        </button>

                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
