{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        @apply w-4 h-1 rounded-md mx-1.5 !important;
    }

    .swiper-pagination {
        @apply bottom-0.5 !important;
    }

    .swiper-wrapper {
        @apply h-max w-max pb-16 !important;
    }

    .swiper-pagination-bullet-active {
        @apply bg-[#312319] !important;
    }

    .swiper-slide.swiper-slide-active>.slide_active\:border-customColor {
        --tw-border-opacity: 1;
        border-color: rgb(49 35 25 / var(--tw-border-opacity));
    }

    .swiper-slide.swiper-slide-active>.group .slide_active\:text-gray-800 {
        --tw-text-opacity: 1;
        color: rgb(31 41 55 / var(--tw-text-opacity));
    }
</style>

<div class="bg-gray-100 w-full">
    <!-- Navigation -->
    <nav class="z-20 sticky top-0 bg-white shadow-md">
        <div class="container flex items-center justify-between p-5 px-4 py-2 mx-auto">
            <div class="text-2xl font-bold text-[#764A1E] cursor-pointer hover:text-[#C79364] transition-all">
                Devis&Factures
            </div>
            <div class="hidden space-x-4 md:flex">
                <a href="#fonctionnalites" class="text-black hover:text-[#C79364] transition-all">Fonctionnalités</a>
                <a href="#tarifs" class="text-black hover:text-[#C79364] transition-all">Tarifs</a>
                <a href="#temoignages" class="text-black hover:text-[#C79364] transition-all">Témoignages</a>
                <a href="#contact" class="text-black hover:text-[#C79364] transition-all">Contact</a>
                <a href="{{ path('app_login') }}" class="text-black hover:text-[#C79364] transition-all">Connexion</a>
                <a href="{{ path('app_register') }}" class="text-black hover:text-[#C79364] transition-all">Inscription</a>
            </div>
            <button class="block md:hidden focus:outline-none" id="menu-btn">
                <svg class="w-6 h-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </button>
        </div>
        <div class="hidden md:hidden" id="menu">
            <a href="#fonctionnalites" class="block px-4 py-2 text-black hover:text-[#C79364] transition-all">Fonctionnalités</a>
            <a href="#tarifs"
                class="block px-4 py-2 text-black hover:text-[#C79364] transition-all">Tarifs</a>
            <a href="#temoignages" class="block px-4 py-2 text-black hover:text-[#C79364] transition-all">Témoignages</a>
            <a href="#contact" class="block px-4 py-2 text-black hover:text-[#C79364] transition-all">Contact</a>
            <a href="{{ path('app_login') }}"
            class="block px-4 py-2 text-black hover:text-[#C79364] transition-all">Connexion</a>
        <a href="{{ path('app_register') }}" class="block px-4 py-2 text-black hover:text-[#C79364] transition-all">Inscription</a>
        </div>
    </nav>


    <script>
        document.getElementById('menu-btn').addEventListener('click', function () {
            var menu = document.getElementById('menu');
            menu.classList.toggle('hidden');
        });

        // Smooth scrolling effect for anchor links
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>



    <!-- Section Héros -->
    <header class="py-20 text-white bg-[#C79364]">
        <div class="container p-5 mx-auto text-center">
            <h2 class="mb-4 text-4xl font-bold md:text-6xl">Le meilleur logiciel de devis-factures pour les architectes d'intérieurs</h2>
            <p class="mb-8 text-xl md:text-2xl">Une solution simple et efficace pour toutes vos besoins de facturation.
            </p>
            <a href="{{ path('app_register') }}" class="px-4 py-2 font-semibold bg-white text-black rounded-full hover:text-[#C79364]">Commencez
                maintenant</a>

        </div>
    </header>

    <!-- Section Fonctionnalités -->
    <section class="py-20" id="fonctionnalites">
        <div class="container p-5 mx-auto text-center">
            <h2 class="mb-12 text-3xl font-bold md:text-4xl">Fonctionnalités Principales</h2>
            <div class="grid gap-8 md:grid-cols-3">
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <i class="mb-4 text-[#764A1E] text-3xl fas fa-file-invoice-dollar"></i>
                    <h3 class="mb-4 text-2xl font-semibold">Facturation Rapide</h3>
                    <p class="text-gray-600">Créez et envoyez des factures en quelques clics.</p>
                </div>
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <i class="mb-4 text-[#764A1E] text-3xl fas fa-users"></i>
                    <h3 class="mb-4 text-2xl font-semibold">Gestion des Clients</h3>
                    <p class="text-gray-600">Gardez une trace de vos clients et de leurs paiements.</p>
                </div>
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <i class="mb-4 text-[#764A1E] text-3xl fas fa-chart-line"></i>
                    <h3 class="mb-4 text-2xl font-semibold">Rapports Financiers</h3>
                    <p class="text-gray-600">Générez des rapports détaillés pour suivre votre activité.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container flex flex-col items-center justify-center w-full grid-cols-2 py-10 m-auto md:p-5 md:grid  text-white bg-[#312319]">
        <div class="p-4">
            <h2 class="mb-4 text-3xl font-bold">Interface Intuitive</h2>
            <p class="md:mb-6">Notre application est conçue pour être facile à utiliser, avec une interface
                intuitive et des fonctionnalités accessibles.</p>
        </div>
        <div class="p-4">
            <img class="w-full h-full" src="/images/photo_dash1.png" class="rounded"
                alt="Illustration de l'interface">
        </div>
    </div>

    <div
        class="container flex flex-col-reverse items-center justify-center w-full grid-cols-2 py-10 m-auto md:p-5 md:grid  text-white bg-[#312319]">
        <div class="p-4">
            <img class="w-full h-full" src="/images/photo_dash2.png" alt="Illustration de sécurité">
        </div>
        <div class="p-4">
            <h2 class="mb-4 text-3xl font-bold">Sécurité et Confiance</h2>
            <p class="md:mb-6">Vos données sont sécurisées grâce à des mesures de protection avancées, vous pouvez
                avoir confiance en notre service.</p>
        </div>
    </div>

    <!-- debut tarifs-->
    
    <section class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" id="tarifs">
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          <div>
          </div>
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
              <span class="relative">Tarification</span>
            </span>
            transparente. Payez au fur et à mesure de votre croissance.
          </h2>
        </div>
        <div class="grid max-w-md gap-10 row-gap-5 lg:max-w-screen-lg sm:row-gap-10 lg:grid-cols-3 xl:max-w-screen-lg sm:mx-auto">
          <div class="flex flex-col justify-between p-8 transition-shadow duration-300 bg-white border rounded shadow-sm sm:items-center hover:shadow">
            <div class="text-center">
              <div class="text-lg font-semibold">Débutant</div>
              <div class="flex items-center justify-center mt-2">
                <div class="mr-1 text-5xl font-bold">Gratuit</div>
              </div>
                <ul class="mt-2 space-y-3 text-gray-700">
                    <li>10 Téléchargement/j</li>
                    <li>10 GB of storage</li>
                    <li>20 domaines</li>
                </ul>  
            </div>
            <div>
              <a href="{{ path('app_register') }}" class="inline-flex items-center justify-center w-full h-12 px-6 mt-6 font-medium tracking-wide text-white transition duration-200 bg-gray-800 rounded shadow-md hover:bg-gray-900 focus:shadow-outline focus:outline-none">
                Commençons
              </a>
            </div>
          </div>
          <div class="relative flex flex-col justify-between p-8 transition-shadow duration-300 bg-white border rounded shadow-sm sm:items-center hover:shadow border-deep-purple-accent-400">
            <div class="absolute inset-x-0 top-0 flex justify-center -mt-3">
              <div class="inline-block px-3 py-1 text-xs font-medium tracking-wider text-[#C79364] uppercase rounded bg-deep-purple-accent-400">
                Most Popular
              </div>
            </div>
            <div class="text-center">
              <div class="text-lg font-semibold">Pro</div>
              <div class="flex items-center justify-center mt-2">
                <div class="mr-1 text-5xl font-bold">20€</div>
                <div class="text-gray-700">/ mois</div>
              </div>
                <ul class="mt-2 space-y-3 text-gray-700">
                    <li>200 Téléchargement/j</li>
                    <li>80 GB de storage</li>
                    <li>Global CDN</li>
                </ul>
            </div>
            <div>
                <a href="{{ path('app_register') }}" class="inline-flex items-center justify-center w-full h-12 px-6 mt-6 font-medium tracking-wide text-white transition duration-200 bg-gray-800 rounded shadow-md hover:bg-gray-900 focus:shadow-outline focus:outline-none">
                Payer
              </a>
            </div>
          </div>
          <div class="flex flex-col justify-between p-8 transition-shadow duration-300 bg-white border rounded shadow-sm sm:items-center hover:shadow">
            <div class="text-center">
              <div class="text-lg font-semibold">Business</div>
              <div class="flex items-center justify-center mt-2">
                <div class="mr-1 text-5xl font-bold">60€</div>
                <div class="text-gray-700">/ mois</div>
              </div>
                <ul class="mt-2 space-y-3 text-gray-700">
                    <li>800 GB de storage</li>
                    <li>Acces à toutes les fonctionnalités</li>
                    <li>24/7 Support</li>
                </ul>
            </div>
            <div>
              <a href="{{ path('app_register') }}" class="inline-flex items-center justify-center w-full h-12 px-6 mt-6 font-medium tracking-wide text-white transition duration-200 bg-gray-800 rounded shadow-md hover:bg-gray-900 focus:shadow-outline focus:outline-none">
                Payer
              </a>
            
            </div>
          </div>
        </div>
      </section>

      <!-- fin-->

    <!-- Commentaires -->  
    <section class="py-24" id="temoignages">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mb-16 ">
                <h2 class="text-4xl text-center font-bold text-gray-900 ">Voici ce que disent nos utilisateurs satisfaits !
                </h2>
            </div>
            <!--Slider wrapper-->

            <div class="swiper mySwiper">
                <div class="swiper-wrapper w-max">
                    <div class="swiper-slide">
                        <div
                            class="group bg-white border border-solid border-gray-300 rounded-xl p-6 transition-all duration-500  w-full mx-auto hover:border-[#312319] hover:shadow-sm slide_active:border-customColor">
                            <div class="">
                                <div class="flex items-center mb-7 gap-2 text-amber-500 transition-all duration-500  ">
                                    <svg class="w-5 h-5" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.10326 1.31699C8.47008 0.57374 9.52992 0.57374 9.89674 1.31699L11.7063 4.98347C11.8519 5.27862 12.1335 5.48319 12.4592 5.53051L16.5054 6.11846C17.3256 6.23765 17.6531 7.24562 17.0596 7.82416L14.1318 10.6781C13.8961 10.9079 13.7885 11.2389 13.8442 11.5632L14.5353 15.5931C14.6754 16.41 13.818 17.033 13.0844 16.6473L9.46534 14.7446C9.17402 14.5915 8.82598 14.5915 8.53466 14.7446L4.91562 16.6473C4.18199 17.033 3.32456 16.41 3.46467 15.5931L4.15585 11.5632C4.21148 11.2389 4.10393 10.9079 3.86825 10.6781L0.940384 7.82416C0.346867 7.24562 0.674378 6.23765 1.4946 6.11846L5.54081 5.53051C5.86652 5.48319 6.14808 5.27862 6.29374 4.98347L8.10326 1.31699Z"
                                            fill="currentColor" />
                                    </svg>
                                    <span class="text-base font-semibold text-gray-900">4.7</span>
                                </div>
                                <p
                                    class="text-base text-gray-600 leading-6  transition-all duration-500 pb-8 group-hover:text-gray-800 slide_active:text-gray-800">
                                    Super expérience! Le service était impeccable et le personnel très sympathique.
                                </p>
                            </div>
                            <div class="flex items-center gap-5 border-t border-solid border-gray-200 pt-5">
                                <img class="h-10 w-10" src="https://pagedone.io/asset/uploads/1696229969.png"
                                    alt="avatar" />
                                <div class="block">
                                    <h5 class="text-gray-900 font-medium transition-all duration-500  mb-1">Jane D</h5>
                                    <span class="text-sm leading-4 text-gray-500">CEO </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="group bg-white border border-solid border-gray-300 flex justify-between flex-col rounded-xl p-6 transition-all duration-500  w-full mx-auto hover:border-[#312319] slide_active:border-customColor hover:shadow-sm">
                            <div class="">
                                <div class="flex items-center mb-7 gap-2 text-amber-500 transition-all duration-500  ">
                                    <svg class="w-5 h-5" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.10326 1.31699C8.47008 0.57374 9.52992 0.57374 9.89674 1.31699L11.7063 4.98347C11.8519 5.27862 12.1335 5.48319 12.4592 5.53051L16.5054 6.11846C17.3256 6.23765 17.6531 7.24562 17.0596 7.82416L14.1318 10.6781C13.8961 10.9079 13.7885 11.2389 13.8442 11.5632L14.5353 15.5931C14.6754 16.41 13.818 17.033 13.0844 16.6473L9.46534 14.7446C9.17402 14.5915 8.82598 14.5915 8.53466 14.7446L4.91562 16.6473C4.18199 17.033 3.32456 16.41 3.46467 15.5931L4.15585 11.5632C4.21148 11.2389 4.10393 10.9079 3.86825 10.6781L0.940384 7.82416C0.346867 7.24562 0.674378 6.23765 1.4946 6.11846L5.54081 5.53051C5.86652 5.48319 6.14808 5.27862 6.29374 4.98347L8.10326 1.31699Z"
                                            fill="currentColor" />
                                    </svg>
                                    <span class="text-base font-semibold text-gray-900">4.8</span>
                                </div>
                                <p
                                    class="text-base text-gray-600 leading-6  transition-all duration-500 pb-8 group-hover:text-gray-800 slide_active:text-gray-800">
                                    Je recommande vivement. Les produits sont de haute qualité.
                                </p>
                            </div>
                            <div class="flex items-center gap-5 pt-5 border-t border-solid border-gray-200">
                                <img class="h-10 w-10" src="https://pagedone.io/asset/uploads/1696229994.png"
                                    alt="avatar" />
                                <div class="block">
                                    <h5 class="text-gray-900 font-medium transition-all duration-500  mb-1">Harsh P.
                                    </h5>
                                    <span class="text-sm leading-4 text-gray-500">Product Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class=" flex justify-between flex-col lg:w-full group bg-white border border-solid border-gray-300 rounded-xl p-6 transition-all duration-500  w-full mx-auto slide_active:border-customColor hover:border-[#312319] hover:shadow-sm">
                            <div class="">
                                <div class="flex items-center mb-7 gap-2 text-amber-500 transition-all duration-500  ">
                                    <svg class="w-5 h-5" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.10326 1.31699C8.47008 0.57374 9.52992 0.57374 9.89674 1.31699L11.7063 4.98347C11.8519 5.27862 12.1335 5.48319 12.4592 5.53051L16.5054 6.11846C17.3256 6.23765 17.6531 7.24562 17.0596 7.82416L14.1318 10.6781C13.8961 10.9079 13.7885 11.2389 13.8442 11.5632L14.5353 15.5931C14.6754 16.41 13.818 17.033 13.0844 16.6473L9.46534 14.7446C9.17402 14.5915 8.82598 14.5915 8.53466 14.7446L4.91562 16.6473C4.18199 17.033 3.32456 16.41 3.46467 15.5931L4.15585 11.5632C4.21148 11.2389 4.10393 10.9079 3.86825 10.6781L0.940384 7.82416C0.346867 7.24562 0.674378 6.23765 1.4946 6.11846L5.54081 5.53051C5.86652 5.48319 6.14808 5.27862 6.29374 4.98347L8.10326 1.31699Z"
                                            fill="currentColor" />
                                    </svg>
                                    <span class="text-base font-semibold text-gray-900">4.9</span>
                                </div>
                                <p
                                    class="text-base text-gray-600 leading-6  transition-all duration-500  pb-8 group-hover:text-gray-800 slide_active:text-gray-800">
                                    Une expérience inoubliable! Merci à toute l'équipe.
                                </p>
                            </div>
                            <div class="flex items-center gap-5 border-t border-solid border-gray-200 pt-5">
                                <img class="h-10 w-10" src="	https://pagedone.io/asset/uploads/1696230027.png"
                                    alt="avatar" />
                                <div class="block">
                                    <h5 class="text-gray-900 font-medium transition-all duration-500  mb-1">Alex K.</h5>
                                    <span class="text-sm leading-4 text-gray-500">Design Lead</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="group bg-white border border-solid border-gray-300 rounded-xl p-6 transition-all duration-500  w-full mx-auto slide_active:border-customColor hover:border-[#312319] hover:shadow-sm">
                            <div class="">
                                <div class="flex items-center mb-7 gap-2 text-amber-500 transition-all duration-500  ">
                                    <svg class="w-5 h-5" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.10326 1.31699C8.47008 0.57374 9.52992 0.57374 9.89674 1.31699L11.7063 4.98347C11.8519 5.27862 12.1335 5.48319 12.4592 5.53051L16.5054 6.11846C17.3256 6.23765 17.6531 7.24562 17.0596 7.82416L14.1318 10.6781C13.8961 10.9079 13.7885 11.2389 13.8442 11.5632L14.5353 15.5931C14.6754 16.41 13.818 17.033 13.0844 16.6473L9.46534 14.7446C9.17402 14.5915 8.82598 14.5915 8.53466 14.7446L4.91562 16.6473C4.18199 17.033 3.32456 16.41 3.46467 15.5931L4.15585 11.5632C4.21148 11.2389 4.10393 10.9079 3.86825 10.6781L0.940384 7.82416C0.346867 7.24562 0.674378 6.23765 1.4946 6.11846L5.54081 5.53051C5.86652 5.48319 6.14808 5.27862 6.29374 4.98347L8.10326 1.31699Z"
                                            fill="currentColor" />
                                    </svg>
                                    <span class="text-base font-semibold text-gray-900">4.9</span>
                                </div>
                                <p
                                    class="text-base text-gray-600 leading-6  transition-all duration-500 pb-8 group-hover:text-gray-800 slide_active:text-gray-800">
                                    Nous gagnons un temps précieux chaque mois grâce à la rapidité de l'outil.
                                </p>
                            </div>
                            <div class="flex items-center gap-5 border-t border-solid border-gray-200 pt-5">
                                <img class="h-10 w-10" src="https://pagedone.io/asset/uploads/1696229969.png"
                                    alt="avatar" />
                                <div class="block">
                                    <h5 class="text-gray-900 font-medium transition-all duration-500  mb-1">Jane D</h5>
                                    <span class="text-sm leading-4 text-gray-500">CEO </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="group bg-white border border-solid border-gray-300 flex justify-between flex-col rounded-xl p-6 transition-all duration-500  w-full mx-auto slide_active:border-customColor hover:border-[#312319] hover:shadow-sm ">
                            <div class="">
                                <div class="flex items-center mb-7 gap-2 text-amber-500 transition-all duration-500  ">
                                    <svg class="w-5 h-5" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.10326 1.31699C8.47008 0.57374 9.52992 0.57374 9.89674 1.31699L11.7063 4.98347C11.8519 5.27862 12.1335 5.48319 12.4592 5.53051L16.5054 6.11846C17.3256 6.23765 17.6531 7.24562 17.0596 7.82416L14.1318 10.6781C13.8961 10.9079 13.7885 11.2389 13.8442 11.5632L14.5353 15.5931C14.6754 16.41 13.818 17.033 13.0844 16.6473L9.46534 14.7446C9.17402 14.5915 8.82598 14.5915 8.53466 14.7446L4.91562 16.6473C4.18199 17.033 3.32456 16.41 3.46467 15.5931L4.15585 11.5632C4.21148 11.2389 4.10393 10.9079 3.86825 10.6781L0.940384 7.82416C0.346867 7.24562 0.674378 6.23765 1.4946 6.11846L5.54081 5.53051C5.86652 5.48319 6.14808 5.27862 6.29374 4.98347L8.10326 1.31699Z"
                                            fill="currentColor" />
                                    </svg>
                                    <span class="text-base font-semibold text-gray-900">5</span>
                                </div>
                                <p
                                    class="text-base text-gray-600 leading-6  transition-all duration-500 pb-8 group-hover:text-gray-800 slide_active:text-gray-800">
                                    La flexibilité permet de personnaliser nos devis et factures selon nos besoins.
                                </p>
                            </div>
                            <div class="flex items-center gap-5 pt-5 border-t border-solid border-gray-200">
                                <img class="h-10 w-10" src="https://pagedone.io/asset/uploads/1696229994.png"
                                    alt="avatar" />
                                <div class="block">
                                    <h5 class="text-gray-900 font-medium transition-all duration-500  mb-1">Harsh P.
                                    </h5>
                                    <span class="text-sm leading-4 text-gray-500">Product Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 32,
        loop: true,
        centeredSlides: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,

        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        breakpoints: {
            640: {
                slidesPerView: 1,
                spaceBetween: 32,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 32,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 32,
            },
        },
    });
</script>

    <!-- Section Appel à l'Action -->
    <section class="py-20 text-white bg-[#C79364]" id="contact">
        <div class="container p-5 mx-auto text-center">
            <h2 class="mb-6 text-3xl font-bold md:text-4xl">Contactez-nous</h2>
            <p class="mb-8 text-xl md:text-2xl">Des questions ? Besoin d'aide ? Contactez notre équipe à tout moment.
            </p>
            <a href="{{ path('app_register') }}" class="px-4 py-2 font-semibold bg-white text-black rounded-full hover:text-[#C79364]">Envoyer un
                email
            </a>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-8 text-white bg-[#312319]">
        <div class="container p-5 mx-auto text-center">
            <p>&copy; 2024 Devis&Factures. Tous droits réservés.</p>
            <div class="mt-4 space-x-4">
                <a href="#" class="text-gray-400 hover:text-white">Politique de Confidentialité</a>
                <a href="#" class="text-gray-400 hover:text-white">Conditions d'Utilisation</a>
            </div>
        </div>
    </footer>

    </div>

{% endblock %}