{{ form_start(form) }}

    {{ include('components/_form_group.html.twig', {
        field: form.email,
        label: 'Email * :'
    }) }}

    {{ include('components/_form_group.html.twig', {
        field: form.nom,
        label: 'Nom * :'
    }) }}

    {{ include('components/_form_group.html.twig', {
        field: form.adresse,
        label: 'Nom de l\'entreprise * :'
    }) }}

    {{ include('components/_form_group.html.twig', {
        field: form.tel,
        label: 'Téléphone * :'
    }) }}

    {{ include('components/_form_group.html.twig', {
        field: form.numero_siret,
        label: 'Numéro SIRET * :'
    }) }}

    <div class="mt-8">
        {{ include('components/_submit_button.html.twig', {
            content: 'Enregistrer mon entreprise'
        }) }}
    </div>
{{ form_end(form) }}