{% extends 'base.html.twig' %}

{% block title %}Modifier facture - {{ facture.id }}{% endblock %}

{% set data = {
        mainContent: {
            title: {
                icon: include('components/SVG/_facturation_SVG.html.twig'),
                content: 'Information Facture'
            },
            content: [
                { label: 'Id :', value: facture.id },
                { label: 'Date :', value: facture.getCreatedAt() ? facture.getCreatedAt()|date('d/m/Y') : '' },
                { label: 'Statut :', value: facture.statut },
                { label: 'Taxe :', value: facture.taxe ~ '%' },
                { label: 'Total HT :', value: facture.totalHt ~ ' €' },
                { label: 'Total TTC :', value: facture.totalHt * (1 + facture.taxe / 100) ~ ' €' },
                { label: 'Client :', value: facture.getClient().nom }
            ]
        },
        listProducts : facture.getLignesDevis()|map(ligneDevis => [
            { 
                values: [
                    ligneDevis.getNameProduct(),
                    ligneDevis.getQuantite(),
                    ligneDevis.getPrixProduct ~ ' €'
                ] 
            },
            {
                actionDelete: {
                    button: null
                }
            }

        ]),
        listPayments: facture.getPaiements()|map(paiement => [
            {
                values: [
                    paiement.getCreatedAt()|date('d/m/Y'),
                    paiement.getMontant() ~ ' €',
                    paiement.getMethod()
                ]
            },
            {
                actionDelete: {
                    button: null
                }
            }
        ])
    }
%}

{% block body %}
    {{ include('components/_title.html.twig', { content: 'Facture ' ~ facture.id}) }}

    {{ include('components/_detail_item.html.twig', {
        data: data
    }) }}

    {% if facture.getStatut() is not same as 'Payée' %}
        <h3 class="text-xl font-semibold text-gray-900 dark:text-gray-100 uppercase my-6"> Ajouter un paiement </h3>  

        {{ include('paiements/_form.html.twig')  }}
    {% endif %}

    {{ include('components/_link.html.twig', {
        content: 'Retour à la liste',
        path: 'app_factures_index'
    }) }}
{% endblock %}
