{% extends 'base.html.twig' %}

{% block title %}
  Liste des catégories
{% endblock %}

{% block body %}
  {{ include('components/_title.html.twig', {content: 'Liste des catégories'}) }}

  {% if paginate_cat_services|length < 1 %}
    <p>Il n'y a pas de catégorie pour le moment.</p>
  {% endif %}

  <ul class="md:flex md:flex-wrap md:justify-between md:gap-3">
    {% for cat_service in paginate_cat_services %}
      <li class="p-4 md:w-80 xl:w-96 h-full bg-primary-500 border-2 border-opacity-60 rounded-lg overflow-hidden">
          <article>
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ cat_service.filePath is defined and cat_service.filePath ? asset(cat_service.filePath) : asset('images/default_category.jpg') }}" alt="Image par défaut catégorie" />
            <div class="p-6">
              <h2 class="tracking-widest text-xs font-medium text-white mb-1">Catégorie</h2>
              <h1 class="text-lg font-medium mb-3">{{ cat_service.nom }}</h1>
              <a href="/cat-services/{{cat_service.id}}/edit" tabindex="-1" >
                <button class="bg-primary-500 border-0 py-2 px-8 hover:bg-primary-600 rounded">
                  {{ include('components/SVG/_update_SVG.html.twig') }}
                </button>              
              </a>

              {{ include('components/_delete_form.html.twig', { 
                item_id: cat_service.id,
                path: 'cat_services',
                labelButton: include('components/SVG/_delete_SVG.html.twig'),
                classButton: "bg-primary-500 border-0 py-2 px-8 hover:bg-primary-600 rounded",
                classForm: "inline-block",
                title: "Suppression de la catégorie : " ~ cat_service.nom,
                content: "Êtes-vous sûr de vouloir supprimer cette catégorie ? Tous les produits de cette catégorie n'auront plus de catégorie."  }) 
              }}
            </div>
          </article>
      </li>
    {% endfor %}
  </ul>

  {{ include("components/_pagination.html.twig", {
    current_page: current_page,
    number_page: number_page,
    name_controller: 'app_cat_services_index'
  }) }}

  {{ include('components/_link.html.twig', {
    path: "app_cat_services_new", 
    content: "Créer une catégorie"
  }) }}

{% endblock %}
