{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1 class="font-bold uppercase text-2xl my-5 border-b-black border-b-2">Liste des produits</h1>

  <ul>
    <li class="p-3 mb-4 border-primary-400 border-2 rounded-xl">
      <article class="grid grid-cols-4 text-center">
        <span>Identifiant</span>
        <span>Catégorie</span>
        <span>Nom</span>
        <span>Prix</span>
      </article>
    </li>
    {% for service in services %}
      <li class="p-5 mb-4 border-primary-400 border-2 rounded-xl">
        <a>
          <article class="grid grid-cols-4 text-center">
              <span>{{ service.id }}</span>
              <span>{{ service.idCatServices ? service.idCatServices.nom : 'Sans catégorie' }}</span>
              <span>{{ service.nom }}</span>
              <span>{{ service.prix }} €</span>
          </article>
        </a>
      </li>
    {% endfor %}

  </ul>

    <a href="{{ path('app_produits_new') }}">Create new</a>
{% endblock %}
