{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
        <h1 class="font-bold uppercase text-2xl my-5 border-b-black border-b-2">Liste des produits</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Prix</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                {# <td>{{ produit.idCategorieProduits.nom }}</td> #}
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }} €</td>
                <td>
                    <a href="{{ path('app_produits_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>
                </td>
                <td>
                    {{ include('produits/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produits_new') }}">Create new</a>
{% endblock %}
