<form id="confirmationForm-{{ cat_service_id }}" method="post" class="{{ classForm|default('') }}" action="{{ path('app_cat_services_delete', {'id': cat_service_id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat_service_id) }}">
    <button class="{{ classButton|default('') }}">{{ labelButton | raw }}</button>
</form>

{{ include('components/_modal_delete.html.twig', { 
    entity_id: cat_service_id, 
    form_id: "confirmationForm-" ~ cat_service_id, 
    title: "Suppression de la catégorie : " ~ cat_service_name,
    content: "Êtes-vous sûr de vouloir supprimer cette catégorie ? Tous les produits de cette catégorie n'auront plus de catégorie."  }) 
}}