{{ form_start(form, {'attr': {'class': 'initialDisplay'}}) }}
    {{ form_label(form.nom, 'Nom de la catégorie * :', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold'}}) }}
    <div class="text-red-500 text-sm font-bold mb-3">
        {{ form_errors(form.nom) }}
    </div>
    {{ form_widget(form.nom, {'attr': {'class': 'max-w-2xl shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3'}}) }}

    <div>
      {{ form_label(form.filePath, 'Image : ', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
      {{ form_widget(form.filePath) }}
    </div>

    {{ include('components/_submit_button.html.twig', {
      content: button_label|default('')
    }) }}

{{ form_end(form) }}