{% extends 'base.html.twig' %}

{% block title %}
  Liste des catégories
{% endblock %}

{% block body %}
  {{ include('components/_flash_messages.html.twig')}}
  {{ include('components/_title.html.twig', {content: 'Liste des catégories'}) }}

  {% if paginate_categories|length < 1 %}
    <p>Il n'y a pas de catégorie pour le moment.</p>
  {% else %}
    <ul class="md:flex md:flex-wrap md:gap-6">
      {% for categorie in paginate_categories %}
          {{include('components/_card.html.twig', {
            item_default_image : "category",
            item_filepath: categorie.filePath,
            item_nom: categorie.nom,
            item_id: categorie.id,
            item_path: "categories",
            item_type: "catégorie",
            delete_content: "Êtes-vous sûr de vouloir supprimer cette catégorie ? Tous les produits de cette catégorie n'auront plus de catégorie."
          })}}
      {% endfor %}
    </ul>
  {% endif %}

   {{ include('components/_link.html.twig', {
    path: "app_categories_new", 
    content: "Créer une catégorie"
  }) }}
  
  {{ include("components/_pagination.html.twig", {
    current_page: current_page,
    number_page: number_page,
    path: 'app_categories_index'
  }) }}

{% endblock %}
