{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <h1>Entreprises</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ entreprise.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entreprise.email }}</td>
            </tr>
            <tr>
                <th>Numero_siret</th>
                <td>{{ entreprise.numeroSiret }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ entreprise.rib }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entreprise.createdAt ? entreprise.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id_devis</th>
                <td>{{ entreprise.idDevis }}</td>
            </tr>
            <tr>
                <th>Id_rapports_financiers</th>
                <td>{{ entreprise.idRapportsFinanciers }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprises_index') }}">back to list</a>

    <a href="{{ path('app_entreprises_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprises/_delete_form.html.twig') }}
{% endblock %}
