{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
        <h1 class="font-bold uppercase text-2xl my-5 border-b-black border-b-2">Liste des produits</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Prix</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.idCatServices.nom }}</td>
                <td>{{ service.nom }}</td>
                <td>{{ service.prix }} €</td>
                <td>
                    <a href="{{ path('app_services_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('app_services_edit', {'id': service.id}) }}">edit</a>
                </td>
                <td>
                    {{ include('services/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_services_new') }}">Create new</a>
{% endblock %}
