{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
  {{ include('components/_title.html.twig', { content: 'Liste des produits'}) }}

  {% if services|length < 1 %}
    <p>Il n'y a pas de catégorie pour le moment.</p>
  {% else %}
    <ul>
      <li class="p-3 mb-4 border-primary-400 border-2 rounded-xl">
        <article class="grid grid-cols-4 text-center">
          <span>Identifiant</span>
          <span>Catégorie</span>
          <span>Nom</span>
          <span>Prix</span>
          <span>update</span>
          <span>delete</span>
        </article>
      </li>
      {% for service in services %}
        <li class="p-5 mb-4 border-primary-400 border-2 rounded-xl">
          <a>
            <article class="grid grid-cols-6 text-center">
                <span>{{ service.id }}</span>
                <span>{{ service.idCatServices ? service.idCatServices.nom : 'Sans catégorie' }}</span>
                <span>{{ service.nom }}</span>
                <span>{{ service.prix }} €</span>
                <span>update</span>
                <span>delete</span>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}


  {{ include('components/_link.html.twig', { 
    content: "Créer un produit", 
    path: "app_services_new"
  }) }}
{% endblock %}
