{{ form_start(form, {'attr' : {'class': 'initialDisplay'}}) }}

{{ form_label(form.superficie, 'Superficie * :', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2 '}}) }}
    <div class="text-red-500 text-sm font-bold mb-3">
        {{ form_errors(form.superficie) }}
    </div>
{{ form_widget(form.superficie, {'attr': {'class': 'shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3'}}) }}

{{ form_label(form.type, 'Type * :', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2 '}}) }}
    <div class="text-red-500 text-sm font-bold mb-3">
        {{ form_errors(form.type) }}
    </div>
{{ form_widget(form.type, {'attr': {'class': 'shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3'}}) }}

{{ form_label(form.adresse, 'Adresse * :', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    <div class="text-red-500 text-sm font-bold mb-3">
        {{ form_errors(form.adresse) }}
    </div>
{{ form_widget(form.adresse, {'attr': {'class': 'shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3'}}) }}

{{ form_label(form.id_client, 'Client * :', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    <div class="text-red-500 text-sm font-bold mb-3">
        {{ form_errors(form.id_client) }}
    </div>
{{ form_widget(form.id_client, {'attr': {'class': 'shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3'}}) }}

  {{ include('components/_submit_button.html.twig', {
      content: button_label|default('')
  }) }}
{{ form_end(form) }}