<div class="overflow-x-auto ">
    <table class="min-w-full divide-y divide-gray-200 dark:text-text-dark-mode-200">
        <thead class="bg-primary-100 dark:bg-element-dark-mode-900 font-title">
            <tr>
                {% for label in data.label %}
                    <th scope="col" class="px-6 py-3 text-left text-xs font-mediumuppercase tracking-wider">
                        {{ label }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-color3-50 dark:bg-element-dark-mode-600 font-subtitle">
            {% for data in mappedData %}
                <tr>
                    {# Affichage des valeurs #}
                    {% for value in data[0].values %}
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 dark:text-text-dark-mode-200">{{ value }}</td>
                    {% endfor %}

                    {# Colonne pour les actions et le bouton de suppression #}
                    {% if data[1].actions is defined %}
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium flex space-x-4 dark:text-text-dark-mode-200">
                            {# Affichage des actions #}
                            {% for action in data[1].actions %}
                                {% if action.constraint is defined %}
                                    {% if action.constraint %}
                                        <a href="{{ action.link }}">
                                            <button class="px-6 py-4 whitespace-nowrap text-sm font-medium flex space-x-4 hover:bg-primary-600 dark:hover:bg-element-dark-mode-700">
                                                {{ action.content|raw }}
                                            </button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ action.link }}">
                                        <button class="px-6 py-4 whitespace-nowrap text-sm font-medium flex space-x-4 hover:bg-primary-600 dark:hover:bg-element-dark-mode-700">
                                            {{ action.content|raw }}
                                        </button>
                                    </a>
                                {% endif %}

                            {% endfor %}
                            
                            {# Affichage du bouton de suppression #}
                            {% if data[2].actionDelete.constraint is defined %}
                                {% if data[2].actionDelete.constraint %}
                                    {{ data[2].actionDelete.button|raw }}
                                {% endif %}
                            {% else %}
                                {{ data[2].actionDelete.button|raw }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>