{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {{ include('components/_title.html.twig', { content: 'Dashboard'}) }}

    <p>Nombre de devis : {{ numberDevis }}</p>
    <p>Nombre de devis accepté : {{ numberDevisAccept }}</p>
    <p>Nombre de facture : {{ numberFactures }}</p>
    <p>Somme de tout les paiement : {{ sumAllPaiement }}</p>
    <p>Somme des devis accepté : {{ sumDevisAcceptHt }}</p>
    <p>Nombre de produit :  : {{ numberProducts }}</p>
{% endblock %}
