{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {{ include('components/_title.html.twig', { content: 'Dashboard'}) }}

    <p>Nombre de devis : {{ numberDevis }}</p>
    <p>Nombre de devis accepté : {{ numberDevis }}</p>
    <p>Nombre de facture : {{ numberDevis }}</p>
    <p>Somme de tout les paiement : {{ numberDevis }}</p>
    <p>Somme des devis accepté : {{ numberDevis }}</p>
    <p>chiffre d'affaire :  : {{ turnOver }}</p>
{% endblock %}
