{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    {{ include('components/_title.html.twig', { content: 'Mon compte' }) }}

    <h2>Identifiant de connexion : </h2>

    {{ include('users/_form.html.twig') }}

    <h2>Information sur mon entreprise : </h2>
    
    {{ include('entreprises/_form.html.twig' , { 'button_label': 'Modifier' }) }}
    
    {{ include('components/_link.html.twig' , {
        path: 'app_users_index',
        content :'Retour à l\'accueil'
    }) }}

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
