{% extends 'base.html.twig' %}

{% block title %}Clients index{% endblock %}


{% block body %}
  {{ include('components/_title.html.twig', { content: 'Liste des Clients'}) }}

  {% include 'clients/_search_client_form.html.twig' with {'search_Nom': '' } %}

  {% if clients|length < 1 %}
    <p>Il n'y a pas de client pour le moment.</p>
  {% else %}
    <ul>
      <li class="p-3 mb-4 border-primary-400 border-2 rounded-xl">
        <article class="grid grid-cols-[repeat(4,_1fr)_repeat(2,_100px)] text-center">
          <span class='self-center'>Identifiant</span>
          <span class='self-center'>Nom</span>
          <span class='self-center'>Prénom</span>
        </article>
      </li>
      {% for client in clients %}
        <li class="p-5 mb-4 border-primary-400 border-2 rounded-xl">
            <article class="grid grid-cols-[repeat(4,_1fr)_repeat(2,_100px)] text-center">
                <span class='self-center'>{{ client.id }}</span>
                <span class='self-center'>{{ client.nom }}</span>
                <span class='self-center'>{{ client.prenom }}</span>
                <span class='self-center'>
                  <a href="/clients/{{client.id}}/edit">
                    <button class="border-0 py-2 px-8 hover:bg-primary-600 rounded">
                      {{ include('components/SVG/_update_SVG.html.twig') }}
                    </button>              
                  </a>
                </span>
                <span class='self-center'>              
                  {{ include('components/_delete_form.html.twig', { 
                      item_id: client.id,
                      path: 'clients',
                      labelButton: include('components/SVG/_delete_SVG.html.twig'),
                      title: "Suppression du client : " ~ client.nom,
                      content: "Êtes-vous sûr de vouloir supprimer ce client ?",
                      classButton: 'border-0 py-2 px-8 hover:bg-primary-600 rounded'
                       }) 
                    }}
                </span>
            </article>
        </li>
      {% endfor %}
    </ul>

  {% endif %}


  {{ include('components/_link.html.twig', { 
    content: "Créer un client", 
    path: "app_clients_new"
  }) }}
{% endblock %}
