{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h2 class="text-3xl">Détails du client N° {{ client.id }}</h2>
    <div class="flex flex-col col-span-2">

        <label class="block text-gray-700 text-sm font-bold mb-2">Nom</label>
        <input type="text" value="{{ client.nom }}" readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3">

        <label class="block text-gray-700 text-sm font-bold mb-2">Prenom</label>
        <input type="text" value="{{ client.prenom }}" readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3">

        <label class="block text-gray-700 text-sm font-bold mb-2">Adresse</label>
        <input type="text" value="{{ client.adresse }}" readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3">

        <label class="block text-gray-700 text-sm font-bold mb-2">Téléphone</label>
        <input type="text" value="{{ client.tel }}" readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3">

        <label class="block text-gray-700 text-sm font-bold mb-2">Adresse Email</label>
        <input type="text" value="{{ client.email }}" readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3">

        <label class="block text-gray-700 text-sm font-bold mb-2">Siret</label>
        <input type="text" value="{{ client.numeroSiret }}" readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3">
    </div>

    <a href="{{ path('app_clients_index') }}">Retour a la liste des clients</a>
{% endblock %}
